<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    div#Container
      div#Canvas
      div#Controls
        label#LabelNodeValue(for="NodeValue") New Node:
        input#InputNodeValue(type="text", name="NodeValue")
        button#ButtonAddNode Add
        button#ButtonClear Clear